<table
  cellpadding="0"
  cellspacing="0"
  width="100%"
  border="0"
  style="color:#000000;font-family:SF Pro Text,Helvetica,Arial;font-size:14px;line-height:1.3;table-layout:auto;width:100%;border:none"
>
  <tbody><tr style="text-align:left;padding:16px">
      <th
        style="vertical-align:top;padding:8px 4px 0 0;text-align:left"
        align="left"
        valign="top"
      >Time:
        <br />
      <td
        style="vertical-align:top;padding:8px 0;font-weight:400"
        valign="top"
      >{{time}}</td>
    </tr>
    <tr style="text-align:left;padding:16px">
      <th
        style="vertical-align:top;padding:8px 4px 0 0;text-align:left"
        align="left"
        valign="top"
      >IP:</th>
      <td
        style="vertical-align:top;padding:8px 0;font-weight:400"
        valign="top"
      >{{ipAddress}}</td>
    </tr>
    <tr style="text-align:left;padding:16px">
      <th
        style="vertical-align:top;padding:8px 4px 0 0;text-align:left"
        align="left"
        valign="top"
      >Device:
        <br />
      <td
        style="vertical-align:top;padding:8px 0;font-weight:400"
        valign="top"
      >{{device}}</td>
    </tr>
  </tbody>
</table>